[Unit]
Description=Shushu Entertainment Center Website
After=network.target

[Service]
User=shushu
Group=shushu
WorkingDirectory=/opt/shushu-mainpage
Environment=TZ=Asia/Shanghai
ExecStart=/opt/shushu-mainpage/.venv/bin/gunicorn --preload --workers 2 --threads 4 --bind 0.0.0.0:12339 --access-logfile - "RunServer:CreateApplication()"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
